.group:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  position: relative;
  width: 80%;
  margin: 0 auto;
  background-color: #565153;
  font-family: sans-serif;
}

header {
  position: relative;
  height: 150px;
}

header > img {
  width: 150px;
  height: auto;
  position: absolute;
  left: calc(50% - 75px);
  padding-top: 25px;
  padding-bottom: 25px;
}

header > h1 {
  position: absolute;
  top: 55px;
  left: calc(50% - 45px);
  z-index: 10;

  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

section {
  float: left;
}

section h2 {
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.controls {
  float: left;
}

table {
  background-color: rgba(255, 255, 255, 0.5);;
}

td {
  padding: 5px;
}

td:nth-child(even) {
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  color: white;
}

.boards {
  position: absolute;
  top: 280%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.board {
  float: left;
  width: 220px;
  height: 440px;
  border-right: 2px solid rgb(34, 34, 34);
  border-bottom: 2px solid rgb(34, 34, 34);
  margin: 50px;
  margin-top: 0px;
}

.board:last-child {
  float: right;
}

.tile {
  width: 20px;
  height: 20px;
  float: left;
  background-color: rgb(42, 42, 42);
  border-left: 2px solid rgb(34, 34, 34);
  border-top: 2px solid rgb(34, 34, 34);
  background-size: 20px;
}

/* chessbord-style background */
.tile:nth-child(20n+1),
.tile:nth-child(20n+3),
.tile:nth-child(20n+5),
.tile:nth-child(20n+7),
.tile:nth-child(20n+9),
.tile:nth-child(20n+12),
.tile:nth-child(20n+14),
.tile:nth-child(20n+16),
.tile:nth-child(20n+18),
.tile:nth-child(20n+20){
  background-color: rgb(46, 46, 46);
}

/* tetromino images */
.O { background-image: url('./lib/images/o.png'); }
.I { background-image: url('./lib/images/i.png'); }
.J { background-image: url('./lib/images/j.png'); }
.L { background-image: url('./lib/images/l.png'); }
.Z { background-image: url('./lib/images/z.png'); }
.S { background-image: url('./lib/images/s.png'); }
.T { background-image: url('./lib/images/t.png'); }
.B { background-image: url('./lib/images/brick.png'); }

/* modal */
.modal-overlay {
  opacity: 0.2;
  background-color: black;
  z-index: 999;
}

.modal-content {
  position: absolute;
  top: 400px;
  left: calc(50% - 100px);
  z-index: 1000;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 2px solid rgb(34, 34, 34);
}

.modal-content > h1 {
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

button, a {
  cursor: pointer;
  cursor: hand;
}

.modal-controls {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-controls button {
  /* width: 140px;
  height: 45px; */
  padding: 5px;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: black;;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.modal-controls button:hover {
  background-color: #0072ba;
  box-shadow: 0px 15px 20px rgba(0, 114, 186, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.modal-controls button:first-of-type {
  margin-right: 5px;
}
